$radius: 5px;
$borderColor: rgb(127,127,127);
$green: rgb(73, 171, 104);
$greenHover: rgb(49, 120, 72);
$red: rgb(200,0,0);
$redHover: rgb(170,0,0);
$silver: rgb(192,192,192);
$gingerbread: rgb(193, 161, 105);
$gingerHover: rgb(182, 138, 65);
$fontStack: 'Helvetica', sans-serif;